*{
	padding: 0;
	margin: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
* ul li{list-style: none;} */
img{vertical-align: top;}

/* *h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}* */
/*header*/
body{
    background: url('../img/фон.jpg') ;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.header {
    background-color: rgb(40, 42, 45);
    width: 100%;
    height: 10%;
  }
  .clearfix {
    content:" ";
    display:table;
    clear:both;
}
.header-logo{
  display: block;
  margin-top: 12px;
}
.logo-text,
.logo-img {
  float: left;
}
.logo-text {
  margin-left: 20px;
}
.logo-title {
  font-size: 32px;
  font-family: "NewBaskervilleC";
  color: rgb(255, 255, 255);  
}
.logo-slogan {
  margin: 0;
  font-size: 11px;
  font-family: "PTSans";
  color: rgba(235, 244, 255, 0.251);
}
.container { 
    display: flex;
    flex-direction: row;
     width: 100%;
    max-width: 1300px;
    margin: 0px auto;
}
.card{
    display: flex;
    height: 100%;
    width: 50%;
    margin: 20px;
}
.info{
    display: flex;
    height: 100%;
    width: 50%;
}
.form{
	border: 2px solid #000;
	margin-right: auto;
    background-color:  rgba(165, 153, 153, 0.575);
    font-family: Tanoma;
    line-height: 2.0;
    font-size: 18px; 
	padding-left: 30px;
	max-width: 600px;
	margin: 0px auto;
	position: relative;
	flex: 1 1 0;
 
}
.form_title{
text-align: center;
font-size: 35px;
}
.cards{
    height: 82%;
}
.text{
    font-size: 20px;
}
.title{
    margin: 28px;
    text-align: center;
}



